<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Gathering Tool - Victims</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">🕵️‍♂️ IP Gathering Tool - Victims 🕵️‍♂️</h1>
        <div class="victims-container">
            {% for victim in victim_info %}
                <div class="victim">
                    <h2 class="subtitle">Visitor Information</h2>
                    <ul>
                        <li><strong>IP Address:</strong> {{ victim["IP Address"] }}</li>
                        <li><strong>Real IP:</strong> {{ victim["Real IP"] }}</li>
                        <li><strong>Browser:</strong> {{ victim["Browser"] }}</li>
                        <li><strong>Operating System:</strong> {{ victim["Operating System"] }}</li>
                        <li><strong>City:</strong> {{ victim["City"] }}</li>
                        <li><strong>Network Info:</strong> {{ victim["Network Info"]["Hostname"] }} ({{ victim["Network Info"]["Local IP"] }})</li>
                        <li><strong>Timestamp:</strong> {{ victim["Timestamp"] }}</li>
                    </ul>
                    {% if victim["City"] != "Unknown" and victim["Network Info"]["Local IP"] != "Unknown" %}
                        <a href="{{ victim["Map URL"] }}" target="_blank">View on Map</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
